{% extends 'base.html.twig' %}

{% block title %}AvCategory index{% endblock %}

{% block body %}
    <h1>AvCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for av_category in av_categories %}
            <tr>
                <td>{{ av_category.id }}</td>
                <td>{{ av_category.name }}</td>
                <td>
                    <a href="{{ path('app_av_category_show', {'id': av_category.id}) }}">show</a>
                    <a href="{{ path('app_av_category_edit', {'id': av_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="w-2/12 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800" href="{{ path('app_av_category_new') }}">Create new</a>
    <a class="w-2/12 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800" href="{{ path('app_av_trip_index') }}">Go to trip</a>

{% endblock %}
